@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html {
    height: 100%;
}

body {
    font-size: 1em;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    height: 100%;
    width: 100%;
	background: #faf8ef;
	color: #776e65;
}

#container {
	width: 220px;
	margin: 50px auto;
	text-align: center;
}

header {
	height: 70px;
	line-height: 70px;
    margin: 20px 0;
}

header h1 {
	float: left;
	font-family: Verdana, sans-serif;
}

.game-name {
	width: 200px;
	height: 36px;
	line-height: 36px;
    margin: 10px 0;
	padding: 0 10px;
	text-align: center;
	float: left;
    clear: both;
	background: #bbada0;
	color: #f9f6f2;
	border-radius: 9px;
    font-size: 17px;
	font-weight: bold;
}

.game-name a {
    color: #f9f6f2;
    text-decoration:none;
}
